<!DOCTYPE html>

<html>
<<<<<<< HEAD
    <head>
        <title>My todolist</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>Login</h1>

        <form action="/login" method="post">
            <label for="usrname">User Name</label>
            <input type="text" name="usrname" id="usrname" autofocus />
            <input type="submit" />
        </form>
    </body>
=======

<head>

</head>




<body>


	<form action="/action_page.php">
	  	Username:<br>
	  	<input type="text" name="username" >
	  	<br>
	  	password:<br>
	  	<input type="password" name="lastname">
	  	<br><br>
	  	<input type="submit" value="Submit">
	</form> 


</body>






>>>>>>> e8d60ed27c39fa888e34105d324ed3ef257df5df
</html>