<!DOCTYPE html>

<html>
<head>

</head>
<body>

	<form action="/login" method = "post">

	  	Username:<br>
	  	<input type="text" name="username" >
	  	<br>
	  	password:<br>
	  	<input type="password" name="password">
	  	<br><br>
	  	<input type="submit" value="Submit">
	</form> 


</body>
</html>